.basket-container{
    min-height: calc(100vh - 203px);
}

.basket-content{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.basket-frame{
    position: sticky;
    top: 0;
}

.basket-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    padding: 8px;
    box-shadow: 0px 0.1px 1px rgb(170, 170, 170);
}

.control-basket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: rgb(128, 125, 125);
}

.count-basket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.basket-img{
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.basket-img:hover{
    cursor: pointer;
    background-color: rgba(252, 173, 27, 0.3);
}

.head-basket{
    font-weight: bold;
}

.custom-radio-btn{
    display: block;
    position: relative;
    cursor: pointer;
    padding-bottom: 8px;
    font-size: 16px;
    color: rgb(128, 125, 125);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.custom-radio-btn input{
    z-index: 100;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 2px;
    left: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(128, 125, 125);
    border-radius: 50px;
}

.custom-radio-btn:hover input ~ .checkmark{
    background-color:rgb(235, 229, 229);
}

.custom-radio-btn input:checked ~ .checkmark{
    background-color: rgb(219, 151, 24);
}

.description-radio-btn{
    padding-left: 24px;
}

.empty-basket-btn{
    padding: 8px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.empty-basket-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.options-basket{
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    color: rgb(59, 58, 58);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.delivery-option{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.costs-container{
    padding-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtotal{
    color: rgb(128, 125, 125);
    display: flex;
    justify-content: space-between;
}

.delivery{
    color: rgb(128, 125, 125);
    display: flex;
    justify-content: space-between;
}

.total{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.crossed-out{
    text-decoration: line-through;
}

.close-basket-btn{
    display: none;
    text-align: center;
}

.hide-delivery-options{
    display: none;
}

.ctrl-box{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-evenly;
}

.ctrl-btn{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-family: 'myRoboto';
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    border: unset;
    border-radius: 5px;
}

.ctrl-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

@media(max-width:768px){
    .close-basket-btn{
        display: block;
    }
}

@media(max-width:380px){
    .ctrl-box{
        padding-left: 32px;
        padding-right: 32px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .ctrl-btn{
        width: 162px;
    }
}
